html{
    font-family: Roboto Mono;
    font-style: normal;
}
#bodyHome{
    background: linear-gradient(252.44deg, #FFFFFF 0%, #FFEFBA 100%);
}
#bodyContact{
    background: linear-gradient(72.44deg, #005AA7 0%, #FFFDE4 100%);
}
.title{
    text-align: center;
    font-size: 48px;
    line-height: 63px;
    margin: 10px auto 10px;
}
#smallTitle{
    display: none;
}
#linkTitleContact{
    text-decoration: none;
}
#linkTitleContact:hover{
    text-decoration: underline;
}
#bigNav{
    width: 75%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
#smallNav{
    display: none;
    width: 100%;
    margin: 0px auto;
}
.navLink{
    font-size: 20px;
    line-height: 26px;
    margin: 0px 10px;
}
a{
    color: black;
}
#imgAlby{
    height: 200px;
    border-radius: 50%;
    filter: drop-shadow(0px 5px 5px rgba(186, 175, 138, 0.5));
    margin: 20px auto;
}
#imgAlbyContact{
    height: 200px;
    border-radius: 50%;
    filter: drop-shadow(0px 5px 5px rgba(0, 90, 167, 0.25));
    margin: 20px auto;
}

#divImgAlby{
    text-align: center;
}
#divHistory{
    width: 75%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
#pHistory{
    font-size: 15px;
    line-height: 26px;
}
footer{
    /* position: absolute; */
    text-align: center;
    bottom: 0px;
    margin: 50px auto 0px;
}
footer p{
    color: #969696;
}
#pFooterContact{
    color: white;
}
#divLinkSocial, #divMyCity{
    width: 75%;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}
.linkSocial{
    margin: 0px 20px;
}
#titleMyCity{
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}
.divSmallNav{
    display: flex;
    justify-content: space-between;
}
.divSmallNav a{
    padding: 10px 20px;
}
@media (max-width: 600px){
    #smallTitle{
        display: block;
        font-size: 25px;
    }
    #bigTitle{
        display: none;
    }
    #pHistory{
        font-size: 15px;
    }
    #bigNav{
        display: none;
    }
    #smallNav{
        display: block;
    }
}
